{{- if (eq .chezmoi.hostname "potatobee") }}
# Start ssh-agent
if [ -n "$DISPLAY" ];
then
    eval $(keychain --eval id_ed25519 --agents ssh,gpg)
else
    eval $(keychain --eval id_ed25519 --agents ssh,gpg --noask)
fi

# Gnome keyring
if [ -n "$DESKTOP_SESSION" ];then
    eval $(gnome-keyring-daemon --start)
    export SSH_AUTH_SOCK
fi

# Pyenv
export PYENV_ROOT=$HOME/local/opt/pyenv
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
{{ end }}

# Aliases
alias view='vim -R'
alias witch=which
alias kc=kubectl

alias crtinfo='openssl x509 -text -noout -in'
alias csrinfo='openssl req -text -noout -in'
alias rsainfo='openssl rsa -check -in'

