# less as a pager is suboptimal for various programs.
# Most programs that I use have a sensible default.
unset PAGER

{{ if (eq .chezmoi.hostname "potatobee") -}}
# Add xrandr scripts to PATH
export PATH="$HOME/.screenlayout:$PATH"
export GOPATH=""

# Start ssh-agent
if [ -n "$DISPLAY" ];
then
    eval $(keychain --eval id_ed25519 id_rsa --agents ssh,gpg)
else
    eval $(keychain --eval id_ed25519 id_rsa --agents ssh,gpg --noask)
fi

# Gnome keyring
if [ -n "$DESKTOP_SESSION" ];then
    eval $(gnome-keyring-daemon --start)
    export SSH_AUTH_SOCK
fi

# Pyenv
export PYENV_ROOT=$HOME/.local/opt/pyenv
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
eval "$(pyenv virtualenv-init -)"
eval "$(pyenv init -)"
{{- end }}

# Aliases
alias view='vim -R'
alias witch=which
alias kc=kubectl
alias ssh='TERM=xterm-256color ssh'

alias crtinfo='openssl x509 -text -noout -in'
alias csrinfo='openssl req -text -noout -in'
alias rsainfo='openssl rsa -check -in'

custom_shutdown() {
  read "confirm?Do you really want to ${1}? "
  if [[ "$confirm" =~ ^[Yy]$ ]]
  then
    "$1"
  fi
}

alias poweroff='custom_shutdown poweroff'
alias reboot='custom_shutdown reboot'

